@model UserLoginFormViewModel
@{
	ViewData["Title"] = "Login";
}

<form asp-action="Login">
    <div asp-validation-summary="All" class="text-danger fs-10"></div>
    <div data--h-bstatus="0OBSERVED">
        <label asp-for="@Model.Email" class="form-label mt-4" data--h-bstatus="0OBSERVED"></label>
        <input asp-for="@Model.Email"  class="form-control"  aria-describedby="emailHelp" placeholder="Enter Name" data--h-bstatus="0OBSERVED">
        <span asp-validation-for="@Model.Email" class="text-danger fs-10"></span>
    </div>
    <div data--h-bstatus="0OBSERVED">
        <label asp-for="@Model.Password" class="form-label mt-4" data--h-bstatus="0OBSERVED"></label>
        <input asp-for="@Model.Password" class="form-control" placeholder="Password" autocomplete="off" data--h-bstatus="0OBSERVED">
        <span asp-validation-for="@Model.Password" class="text-danger fs-10"></span>
    </div>
    <div class="form-check" data--h-bstatus="0OBSERVED">
        <input class="form-check-input" asp-for="@Model.RemmemberMe" data--h-bstatus="0OBSERVED">
        <label class="form-check-label" asp-for="@Model.RemmemberMe" data--h-bstatus="0OBSERVED">
        </label>
    </div>

    <button type="submit" class="btn btn-primary" data--h-bstatus="0OBSERVED">Login</button>

</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filesize-validator.js" asp-append-version="true"></script>
    <script src="~/js/game-form.js" asp-append-version="true"></script>
}